@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #ddd;
}

.wrapper {
	width: 600px;
	background-color: white;
	margin: 50px auto;
	padding: 20px;
}